.App {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card-container {
	height: 400px;
	width: 90%;
	max-width: 400px;
	padding: 20px;
	overflow: auto;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card {
	background-color: lightcyan;
	padding: 10px;
	margin-bottom: 20px;
}