*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
.first{
    height: 100vh;
}
.moviescreen{
    height: 10px;
    width: 100;
    background-color: brown;
}
.doc{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.box{
    
    height: 85vh;
    background-color: brown;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
    padding: 10px;
}
.seats{
    background-color: green;
    /* height: 60px;
    width: 60px; */
    /* border: 1px solid black; */
}
.seats:hover{
    background-color: rgb(70, 17, 17);
}
.selected{
    background-color: rgb(12, 0, 0);
}
.booking_seats, .remaining_seats{
    block-size: 40px;

}
p{
    color: lightgoldenrodyellow;
}