* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.name {
    font-size: x-large;
    font-weight: 600;
    padding: -23px;
    margin-inline-end: -140px;
    margin-left: 154px;
    background-color: rgb(0, 0, 2);
    margin-top: -78px;
    text-align: -webkit-center;
}

.sde {
    padding: -20px;
    margin-inline-end: -290px;
    margin-bottom: 27px;
    text-align: -webkit-center;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    color: #c1c5ff
}

.content {
    display: flex;
    position: relative;
    height: 95%;
    width: 700px;
    margin: 20px;
    display: flex;
    align-items: center;
    border: 3px solid #fdfeff;
}

.left {
    flex: 4;
    align-self: start;
    margin-top: 60px;
    margin-left: 20px;
}

.right {
    flex: 5;
    align-self: start;
    margin-top: 60px;
    margin-left: 20px;
}

.division {
    background: #ffffff;
    width: 3px;
    height: 680px;
}

.organisation {
    font-size: 1.2rem;
    font-weight: 10;
}