/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300); */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /* use only the available space inside the 400x400 frame */

body {
  height: 100vh;
  width: 100%;
}

.frame {
   /* transform: translate(-50%,-50%);  */
  /*position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;*/
	box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
	/*overflow: hidden;
  background: #fff;
  color: #333;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale; */
  display: grid;
  height: 400px;
  width: 400px;
  position: absolute;
  background: rgb(255, 0, 0);
  left: 33%;
  top: 19%;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  gap: 0px 0px;
}


/* .middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); */

/* .center{
	block-size: auto;
    color: blue;
} */

/* ---------------------------------------------------------------------------- */
.center {
  height: 20px;
  width: 20px;
  margin: 0px;
  border: 1px solid black;
  background-color: red;
}

.center:hover {
  background-color: rgb(204, 11, 11);
}



