@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Mulish', sans-serif;
}

.menu_active{
  font-weight: bold;
  border-bottom: 1px solid #565387;
}
.btn-get-started:hover{
  background-color: blue;
}
.brand-name{
  color: blue;
}
footer{
	width: 100%;
  position: fixed;
	left: 0;
	bottom: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
