body{
    background: rgb(165, 162, 162);
    display: flex;
    justify-content: center;

}

table{
    padding: 5%;
    border: none;
    outline: none;
    color: black;
    text-align: center;
    font-weight: 600;
    margin: 30px 0 20px 0;
    background: rgb(243, 100, 143);
    box-shadow: inset 2px 2px 5px beige, inset -5px -5px 10px rgb(46, 1, 1);
    
}

input[type="button"] {
    border: none;
    margin: 15px 0 0 5px;
    width: 42px;
    height: 42px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;
    background: rgb(207, 207, 206);
    box-shadow: inset 2px 2px 5px beige, inset -5px -5px 10px rgb(46, 1, 1);    display: inline-block;
}

input[type="text"] {
height: 30px;
border: none;
    outline: none;
    color: black;
    text-align: right;
    font-weight: 600;
    padding: 15px;
    margin: 30px 0 20px 0;
    background: rgba(126, 80, 24, 0);
    box-shadow: inset 2px 2px 5px grey, inset -5px -5px 10px rgb(20, 2, 2)
}